// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.car_image {
	width: 120px;
	height: 120px;
	background-image: url("koenigsegg");
}

.otherCarImage {
	width: 120px;
	height: 120px;
	background-image: url("lambo");
}

